@import "tailwindcss";

@theme {
  /* This ensures Tailwind knows what 'outfit' is */
  --font-outfit: "Outfit", sans-serif;
}

body {
    font-family: outfit;
    background-color: black;
    color: white;
}